{% extends 'base.html' %}
{% load static %}
{% block content %}
    <nav>
        <ul>
            <li class="nav-item" id="home">
              <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item" id="about">
              <a href="{% url 'about' %}">Culture</a>
            </li>
            <li class="nav-item" id="services">
              <a href="{% url 'shop' %}">Shop</a>
            </li>
            <li class="nav-item" id="contact">
              <a href="{% url 'register' %}">Register</a>
            </li>
        </ul>
    </nav>

    <main class="about-page">
        <h1>THE CULTURE</h1>

       <h2>ABOUT 2LSN™</h2>

<p>2LSN™ is built for the ones
carrying pressure every day
but still finding a way to move forward.</p>  

<p>“Grindin” isn’t just about money.
It’s discipline.
Sacrifice.
Staying solid when life gets heavy.</p>

<p>The heart represents emotion.
The thorns represent pain, pressure, growth,
and every lesson earned along the way.
For the creators.
The hustlers.
The quiet grinders.
The ambitious minds building something bigger than themselves.</p>

<p>More than clothing —
it’s a mindset.</p>

<p>TOOLS ON FOREVER.</p>
<p>2LSN 4RVA.</p>
<p>24.</p>
    </main>

{% endblock %}
